*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.app{
    width:100vw;
    height:100vh;
    background-image: url("images/Hero/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-link-text{
font-family: 'Inter', sans-serif;
font-weight:500;
font-size:14px;
line-height:20px;
color:#18191F;
;
text-decoration: none;

}
.nav-bar-list{
    display: flex;
    gap: 32px;
    list-style:none ;
    align-items: center;
    
    
}
.nav-bar{
    max-width:1440px;
    height:72px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    justify-content: space-around;
    margin: auto;
}
.nav-bar-list-right{
    display:flex;
    gap:12px;
    align-items: center;
    list-style:none ;

}
.hero-section{
    display:flex;
    justify-content: space-evenly;
    margin-top:100px;

}
.hero-title{
font-family: 'Inter', sans-serif;
font-size: 72px;
font-weight: 800;
line-height: 98px;
width: 730px;
color:#18191F;
margin-top: 70px;
}
.hero-content{
    gap:32px;
    display: flex;
    flex-direction: column;
}
.hero-button{
border:0;
background-color:#8C30F5;
border-radius: 6px;
color:White;
Width:154px;
Height:48px;
Padding:12px, 32px, 12px, 32px;
Gap:10px;
font-family: Inter;
font-size: 16px;

font-weight: 500;
line-height: 24px;
cursor: pointer;
}